/* centering */
.center-v, .center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.center-h, .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* columns */
.columns {
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: stretch;
}
.columns>div {
    flex: 1 1 0;
}

/* code */
.code {
    font-family: "Courier New", Courier, monospace;
    background-color: #aaa;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    counter-reset: lineNumber;
}
.code>div {
    line-height: 1.5;
    background-color: #eee;
    counter-increment: lineNumber;
}
.code>div::before {
    white-space: pre;
    content: counter(lineNumber) ":   ";
    color: gray;
}
.code>div.active::before {
    content: counter(lineNumber) ": ▶ ";
}
.comment {
    color: gray;
}

/* memory */
.oval, .straight {
    position: absolute;
    background-color: #eee;
    border: 0.125rem solid #555;
}

.oval {
    height: 20cqh;
    width: 100cqw;
    border-radius: 50%;
}
.straight {
    top: 10cqh;
    height: 70cqh;
    width: 100cqw;
    padding-top: 10cqh;
    border-top: none;
    border-bottom: none;
}